<h2 mat-dialog-title>Edit city</h2>
<div mat-dialog-content>
  <form [formGroup]="editForm">
    <!-- Code Input -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Code</mat-label>
      <input matInput formControlName="code" placeholder="Enter code" required />
    </mat-form-field>

    <!-- English Name Input -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Name (English)</mat-label>
      <input matInput formControlName="name" placeholder="Enter English Name" required />
    </mat-form-field>

    <!-- Arabic Name Input -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Namee (Arabic)</mat-label>
      <input matInput formControlName="nameAr" placeholder="Enter Arabic Name" required />
    </mat-form-field>

   
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Governorate</mat-label>
      <mat-select formControlName="governorateId" required>
        <mat-option *ngFor="let governorate of governorates" [value]="governorate.id">
          {{ governorate.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    

    <!-- Name Duplicate Warning -->
    <p *ngIf="isNameDuplicate" class="error-message">
      ⚠️ This name already exists! Please choose another name.
    </p>
  </form>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="saveChanges()" [disabled]="editForm.invalid || isNameDuplicate">
    Save Changes
  </button>
</div>

<p-dialog appendTo="body" modal="true" [(visible)]="showSuccessfullyMessage">
    <ng-template pTemplate="header">
      <h6 style="color: #04527e; font-weight: bold; font-size: 16pt;">
        {{ SuccessfullyHeader }}
      </h6>
    </ng-template>
    <span style="color: green; font-weight: bold; font-size: 12pt; text-align: center;">
      {{ SuccessfullyMessage }}
    </span>
  </p-dialog>
  
  
  

<p-dialog appendTo="body" modal="true" [(visible)]="errorDisplay" [style]="{ width: '350px' }">
  <ng-template pTemplate="header">
    <h6 style="color: rgb(181, 4, 4);">Error</h6>
  </ng-template>
  <span style="color: rgb(181, 4, 4); font-weight: bold;">
    {{ errorMessage }}
  </span>
</p-dialog>